.avatar-container {
  text-align: center;
  img {
    border-radius: 50%;
    max-width: 150px;
    margin-bottom: 20px;
  }
  h4 {
    font-size: 18px;
    font-weight: 400;
  }
  p {
    font-size: 14px;
    font-weight: lighter;
  }
}
